{% load static %}
<!-- Who We Are -->
<section id="skills" class="parallax pt40 pb40" data-overlay-dark="8">
    <div class="background-image">
        <img src="/static/img/backgrounds/bg-2.jpg" alt="#">
    </div>
    <div class="container">
        <div class="row vertical-align">

            <div class="col-md-6 pr30 mt40 mb40">
                <h2><strong>To build this</strong><br><span class="color">We  used the following skills</span></h2>
            </div>

            <div class="col-md-6 pt40 pb30">
                <div class="progress-bars standard transparent-bars" data-animate-on-scroll="on">
                    <h5 class="bold">Machine Learning Algorithms</h5>
                    <div class="progress" data-percent="80%">
                        <div class="progress-bar">
                            <span class="progress-bar-tooltip">80%</span>
                        </div>
                    </div>
                    <h5 class="bold">Python and it's libraries</h5>
                    <div class="progress" data-percent="60%">
                        <div class="progress-bar progress-bar-primary">
                            <span class="progress-bar-tooltip">60%</span>
                        </div>
                    </div>
                    <h5 class="bold">Analysis mindset</h5>
                    <div class="progress" data-percent="65%">
                        <div class="progress-bar progress-bar-primary">
                            <span class="progress-bar-tooltip">65%</span>
                        </div>
                    </div>
                    <h5 class="bold">Web Development</h5>
                    <div class="progress" data-percent="75%">
                        <div class="progress-bar progress-bar-primary">
                            <span class="progress-bar-tooltip">75%</span>
                        </div>
                    </div>
                    <h5 class="bold">Our own hardware</h5>
                    <div class="progress" data-percent="100%">
                        <div class="progress-bar progress-bar-primary">
                            <span class="progress-bar-tooltip">100%</span>
                        </div>
                    </div>
                    <h5 class="bold">Our will to contribute to enhancing the orientation services</h5>
                    <div class="progress" data-percent="100%">
                        <div class="progress-bar progress-bar-primary">
                            <span class="progress-bar-tooltip">100%</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End Who We Are -->

<!-- Team -->
<section id="team" class="hero-fullscreen2 pt100 pb90">
    <div class="container">
        <div class="row">

            <div class="col-md-12 text-center">
                <h2>Our <strong>Team</strong></h2>
                <p class="lead">"If I have seen further, it is by standing on the shoulders of giants." <span class="color">– Isaac Newton</span></span>
                </p>
            </div>
            <div class=" col-lg-1"></div>
            <div class=" dark-pagination col-lg-10">
                <div class="row">
                <div class="team col-md-3">
                    <div class="team-container">
                        <div class="team-image">
                            <img src="/static/img/team/gmouna.png" class="img-responsive" alt="#" />
                        </div>
                        <div class="team-caption">
                            <div>
                                <div>
                                    <ul>
                                        <li class="social-icon"><a href="https://github.com/mounague" target="_blank"><i class="fa-brands fa-github gtb" ></i></a></li>
                                        <li class="social-icon"><a href="https://www.instagram.com/mouna_guerrab/" target="_blank"><i class="fa-brands fa-instagram ig"></i></a></li>
                                        <li class="social-icon"><a href="https://www.linkedin.com/in/mouna-guerrab-a30298223" target="_blank"><i class="fa-brands fa-linkedin lknd"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h5>Guerrab Mouna</h5>
                    <p>|&emsp;2nd Year Data and Software Engineering Student @ ENSA Khouribga</p>
                </div>
                <div class="team col-md-3">
                    <div class="team-container ">
                        <div class="team-image">
                            <img src="/static/img/team/alias.png" class="img-responsive" alt="#" />
                        </div>
                        <div class="team-caption">
                            <div>
                                <div>
                                    <ul>
                                        <li class="social-icon"><a href="https://github.com/ELilyasamrani/" target="_blank"><i class="fa-brands fa-github gtb"></i></a></li>
                                        <li class="social-icon"><a href="https://www.instagram.com/elamranilyas/" target="_blank"><i class="fa-brands fa-instagram ig"></i></a></li>
                                        <li class="social-icon"><a href="https://www.linkedin.com/in/ilyas-el-amrani/" target="_blank"><i class="fa-brands fa-linkedin lknd"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h5>El Amrani Ilyas</h5>
                    <p>|&emsp;2nd Data and Software Engineering Student @ ENSA Khouribga.</p>
                </div>
                <div class="team col-md-3">
                    <div class="team-container">
                        <div class="team-image">
                            <img src="/static/img/team/jmed.jpg" class="img-responsive" alt="#" />
                        </div>
                        <div class="team-caption">
                            <div>
                                <div>
                                    <ul>
                                        <li class="social-icon"><a href="https://github.com/ElJaouhariMohamed" target="_blank"><i class="fa-brands fa-github gtb"></i></a></li>
                                        <li class="social-icon"><a href="https://www.instagram.com/mohamed_ejr/" target="_blank"> <i class="fa-brands fa-instagram ig"></i></a></li>
                                        <li class="social-icon"><a href="https://www.linkedin.com/in/mohamed-el-jaouhari-100027231/" target="_blank"><i class="fa-brands fa-linkedin lknd"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h5>El Jaouhari Mohamed</h5>
                    <p>|&emsp;2nd Data and Software Engineering Student @ ENSA Khouribga.</p>
                </div>
                <div class="team col-md-3">
                    <div class="team-container">
                        <div class="team-image">
                            <img src="/static/img/team/mafaf.png" class="img-responsive" alt="#" />
                        </div>
                        <div class="team-caption">
                            <div>
                                <div>
                                    <ul>
                                        <li class="social-icon"><a href="https://github.com/afafmtk" target="_blank"><i class="fa-brands fa-github gtb"></i></a></li>
                                        <li class="social-icon"><a href="https://www.linkedin.com/in/afaf-matouk-b20348211" target="_blank"><i class="fa-brands fa-linkedin lknd"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h5>Matouk Afaf</h5>
                    <p>|&emsp;2nd Data and Software Engineering Student @ ENSA Khouribga.</p>
                </div>
            </div>
            </div>
            <div class=" col-lg-1"></div>
        </div>
    </div>
</section>
<!-- End Team -->

{% include 'chatbot.html' %}
<!-- Map -->
<section id="contact" class="parallax pt100 pb100" data-overlay-dark="9">
    <div class="background-image">
        <img src="/static/img/backgrounds/bg-7.jpg" alt="#">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 pr30 mt40 mb40">
                <h2><strong>Visit</strong><br><span class="color"> Our school : ENSA </span><span style="font-weight:bold;">KHOURIBGA</span></h2>
            </div>

            <div class="col-md-1"></div>
            <div class="col-lg-10">
                <section class="vossen-map">
                    <iframe height="550" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3350.037370844264!2d-6.915952583832847!3d32.89718018515368!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xda69d51a4eccd09%3A0x2fe5964c283fb57a!2s%C3%89cole%20Nationale%20des%20Sciences%20Appliqu%C3%A9es%20de%20Khouribga!5e0!3m2!1sfr!2sma!4v1669695976629!5m2!1sfr!2sma"
                        border="0" marginwidth="0" marginheight="0"></iframe>
                </section>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</section>
<!-- End Map -->

<!-- Start Footer -->
<footer id="footer" class="footer style-1 dark">
    <div class="row">
        <div class="col-md-3">
            <a  href="http://www.ensakh-iid.ma/" target="_blank">
                <img src="{% static 'img/assets/logo-iid-light.png' %}" class="logo"  alt="/">
            </div>
        <div class="col-md-3">
            <a href="https://ensak.usms.ac.ma" target="_blank">
                <img src="{% static 'img/clients/ensa.png' %}" class="logo" alt="#">
            </a>
        </div>
        <div class="col-md-3">
            <a href="https://www.usms.ac.ma" target="_blank">
                <img src="{% static 'img/clients/usms.png' %}" class="logo" alt="#">
            </a>
        </div>
        <div class="col-md-3">
            <a href="/">
                <img src="{% static 'img/assets/logo-light.png' %}" class="logo" alt="/">
            </a>
        </div>
    </div>
    <a>&copy; OrientAi Team 2023 </a>
    <a href="#team"><p>Made with love by : Ilyas El Amrani, Mohamed El Jaouhari, Mouna Guerrab and Afaf Matouk</p></a>
</footer>
<!-- End Footer -->


<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/init.js' %}"></script>
<script src="{% static 'js/scripts.js' %}"></script>